body {
  background-color: #F2EEE0;
  background-image: url('/images/GOT_wallpaper.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.container {
  order: 2;
  width: 90%;
}

.opacity-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.opacity-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 90%;
}

#title {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left;
}

#nav {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  margin-bottom: 3%;
}


#nav, #signup, #login, #protected, #search, #detail, #create, #comment-wizard, #edit {
  z-index: 10;
  position: relative;
}

h2, h3 {
  z-index: 10;
  position: relative;
  color: #333036;
  text-shadow: 1px 1px 2px white;
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3.5em;
  font-size: 3.5vw;
  font-weight: 900;
  margin-bottom: 0px
}

h3 {
  font-size: 1.5em;
  font-size: 1.5vw;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 5%;
}

button {
  text-decoration: none;
  color: #333036;
  background-color: rgb(242,238,224, 1.0);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #333036;
  height: 2em;
  margin-right: 1%;
}

button:hover {
  cursor: pointer;
  background-color: rgb(242,238,224, 0.5);
}

button a {
  text-decoration: none;
  color: #333036;
  text-transform: uppercase;
  font-weight: 700;
}

form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

.list-results .comment-count {
  text-align: right !important;
}

.list-results {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  border: 1px solid #333036;
  display: flex;
  flex-direction: row;
  height: 3em;
  justify-content: flex-start;
  align-items: center;
}

.time-stamp {
  width: 20%;
}

.author-name, .comment-count {
  width: 15%;
}

.comment-count {
  color: #C72230;
}

.author-name {
  margin-left: 5%;
}

.time-stamp, .comment-count, .author-name {
  margin: 20px;
  padding: 5px;
  font-size: 1em;
}

.list-results {
  background-color: rgb(242,238,224, 0.5)
}

.detail {
  text-decoration: none;
  color: #C72230;
  text-transform: uppercase;
  font-weight: 700;
  width: 50%;
  max-height: 100%;
  overflow: hidden;
}

.detail:hover {
  cursor: pointer;
}